*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#82B340;
$mainWhite:#FFF;
$mainGrey:#ececec;

body{
    background: $mainGrey;
    color: $mainBlack;
    font-family: 'Open Sans',serif;
}
